@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

html{
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

::selection {
    background: rgba(0, 0, 0, .2);
}

body {
    background: #f9f9f9;
    min-height: 100vh;
    overflow-x: hidden;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 2em;
    color: #359381;
    pointer-events: none;
    margin-right: 270px;
}

.navigation a {
    text-decoration: none;
    color: #359381;
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 600;
}

.navigation a:hover,
.navigation a.active {
    background: #359381;
    color: #fff;
}

.parallax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#text {
    position: absolute;
    font-size: 2em;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
}

.parallax img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}

.sec {
    position: relative;
    background: #003329;
    padding: 60px;
}

.sec h2 {
    font-size: 3em;
    color: #fff;
    margin-top: 10px;
    text-shadow: 2px 2px#4CAF50;
}

.sec p {
    font-size: 1em;
    color: #fff;
    font-weight: 300;
}

h4 {
    font-size: 1.2em;
    color: #fff;
    margin-bottom: 10px;
}

.service-info{
	margin-bottom: 20px;
}

.container {
    display: flex;
  }

.left-side, .right-side {
width: 50%;
}

li {
    list-style: none;
    margin-bottom: 10px;
}

.btn-appoint, .btn-appoint:hover, .btn-appoint:focus{
	margin-top: 30px;
    margin-bottom: 50px; /*yahanpe*/
	padding: 10px 20px;
	font-size: 12px;
	background-color: rgba(12, 184, 182, 0.91);
	border-radius: 3px;
	color: #fff;
}

.btn-primary {
    width: 20%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #45a049;
}

.image{
    width: 100px;
}

.form-control{
    width: 50%;
    height: 100px;
    padding: 10px;
    margin: 5px 0 22px 0;
    border: none;
    border-radius: 5px;
    background: #f1f1f1;
}

a{
    color: rgb(33, 235, 33);
}